.navbar {
    background-color: $gunmetal-color;
    overflow: hidden;
    display: flex;

    &__right {
        margin-left: auto;
    }

    & a {
        text-decoration: none;
        color: $white-color;
        padding: 3px 5px;
        font-size: 1.9rem;


        &:hover {
            background-color: $white-color;
            color: $gunmetal-color;
            border-radius: $border-radius;
        }
    }
}

@include respond(tab-port) {
    .navbar {
        flex-direction: column;
    }
    &__right {
        margin-left: 0;
    }
}
