.navbar {
    background-color: $gunmetal-color;
    overflow: hidden;
    display: flex;
    padding: 1.4rem;

    &__items {
        display: flex;
    }

    &__item {
        padding-right: 2rem;
    }

    &__left {
        display: inline-block;
    }

    &__right {
        margin-left: auto;
    }

    &__toggle {
        display: none;
    }

    &__logo {
        margin-bottom: 1rem;
    }

    & a {
        text-decoration: none;
        color: $white-color;
        padding: 3px 5px;
        font-size: 1.5rem;


        &:hover {
            background-color: $white-color;
            color: $gunmetal-color;
            border-radius: $border-radius;
        }
    }
}

@include respond(tab-port) {
    .navbar,
    .navbar__items {
        flex-direction: column;
        
        &__right {
            margin-left: 0;
            display: none;
        }
    }
    .navbar__toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
        font-size: 300%;
        color: white;
    }
}
