*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:not(img), *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

@media (max-width: 75em) {
  font-size: 56.25%; }

@media (max-width: 56.25em) {
  font-size: 50%; }

@media (min-width: 112.5em) {
  font-size: 75%; }

body {
  box-sizing: border-box;
  padding: 1.8rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

html, body {
  height: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.7; }

.btn, .btn:link, .btn:visited {
  margin-top: 4rem;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  background-color: #8544ba;
  color: #fff; }

.btn:hover {
  box-shadow: 0 1px 2px 1px #333;
  transform: translateY(-1.5px); }

.btn:active {
  box-shadow: none;
  transform: translateY(1.5px); }

.coin {
  position: relative;
  height: auto;
  width: 141px;
  margin-right: 2.5rem;
  margin-left: 2.5rem; }
  .coin__side {
    transition: all 0.8s ease;
    height: auto;
    backface-visibility: hidden;
    overflow: hidden; }
    .coin__side--back {
      position: absolute;
      top: 0;
      transform: rotateY(180deg); }
  .coin:hover .coin__side--front {
    transform: rotateY(-180deg); }
  .coin:hover .coin__side--back {
    transform: rotateY(0); }

.card {
  font-family: Montserrat;
  height: 250px;
  width: 700px;
  position: relative;
  border-radius: 9%;
  box-shadow: 1px 1px 2px 2px red; }
  .card-title {
    position: absolute;
    top: -2%;
    left: 5%; }
  .card-description-container {
    position: absolute;
    top: 20%;
    left: 5%;
    right: 45%; }
  .card-tech {
    position: absolute;
    top: 20%;
    left: 60%;
    right: 5%;
    bottom: 40%; }
  .card-button-container {
    position: absolute;
    right: 10%;
    bottom: 15%;
    border-radius: 15%;
    padding: 2%;
    cursor: pointer; }
  .card-link {
    text-decoration: none;
    color: #8544BA; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  padding: 1.5rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    color: black;
    text-align: center; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.section-intro {
  margin-top: 1rem;
  background-image: radial-gradient(rgba(204, 204, 204, 0.8), rgba(0, 0, 0, 0.98)), url("../../public/images/hero-banner-2.jpg");
  background-size: cover;
  background-position: center;
  color: #ccc;
  text-align: center;
  height: 72rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 91%, 50% 100%, 0 91%);
  clip-path: polygon(0 0, 100% 0, 100% 91%, 50% 100%, 0 91%); }
  @media (max-width: 37.5em) {
    .section-intro {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 91%, 50% 100%, 0 91%);
      clip-path: polygon(0 0, 100% 0, 100% 91%, 50% 100%, 0 91%); } }
  .section-intro__heading {
    font-size: 6.5rem;
    color: #fff;
    letter-spacing: 0.4rem;
    padding-top: 8rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid #8544ba;
    display: inline-block; }
  .section-intro__text {
    font-size: 3.8rem;
    color: #fff;
    padding-top: 6rem;
    margin: 0 15rem; }

.section-about {
  margin-top: -20rem;
  background-color: #272c35; }
  .section-about__heading {
    margin-top: 14rem;
    font-size: 4rem;
    color: #fff;
    letter-spacing: 0.4rem;
    padding-top: 8rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid #8544ba;
    display: inline-block; }
    .section-about__heading-div {
      text-align: center; }
  .section-about__image {
    display: block;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transform: scale(0.45);
    margin-top: -10rem;
    margin-bottom: -12rem; }
  .section-about__text-group {
    padding-bottom: 8rem; }
  .section-about__text {
    font-size: 2.2rem;
    margin: 0 13rem;
    color: #fff;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 2rem; }

.section-skills {
  background-color: #5b5656;
  height: 140rem; }
  .section-skills__heading {
    margin-top: 1rem;
    font-size: 4rem;
    color: #fff;
    letter-spacing: 0.4rem;
    padding-top: 8rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid #8544ba;
    display: inline-block; }
    .section-skills__heading-div {
      text-align: center; }
  .section-skills__container {
    display: block; }
  .section-skills__type {
    text-align: left;
    margin-top: 2rem; }
  .section-skills__header {
    font-size: 2.7rem;
    margin-bottom: 1.5rem;
    color: #fff;
    letter-spacing: 0.4rem;
    text-align: center; }
  .section-skills__icons {
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .section-skills__type--frontend {
    float: left;
    margin-left: -150px; }
  .section-skills__type--backend {
    float: right;
    margin-right: -100px; }

.section-projects {
  background-color: #272c35;
  height: 100rem; }
  .section-projects__heading {
    margin-top: 1rem;
    font-size: 4rem;
    color: #fff;
    letter-spacing: 0.4rem;
    padding-top: 8rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid #8544ba;
    display: inline-block; }
    .section-projects__heading-div {
      text-align: center; }
