*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:not(img), *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

@media (max-width: 75em) {
  font-size: 56.25%; }

@media (max-width: 56.25em) {
  font-size: 50%; }

@media (min-width: 112.5em) {
  font-size: 75%; }

body {
  box-sizing: border-box;
  padding: 1rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.7; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  padding: 1.5rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    color: black;
    text-align: center; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.navbar {
  background-color: #292c41;
  overflow: hidden;
  display: flex; }
  .navbar__right {
    margin-left: auto; }
  .navbar a {
    text-decoration: none;
    color: #fff;
    padding: 3px 5px;
    font-size: 1.9rem; }
    .navbar a:hover {
      background-color: #fff;
      color: #292c41;
      border-radius: 3px; }

@media (max-width: 56.25em) {
  .navbar {
    flex-direction: column; }
  __right {
    margin-left: 0; } }
