.btn {
    &,
    &:link,
    &:visited {
        margin-top: 4rem;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        display: inline-block;
        border-radius: 10rem;
        background-color: $white-color;
        color: $gunmetal-color;
    }

    &:hover {
        box-shadow: 0 1px 2px 1px $slate-grey-color;
        background-color: $purple-color;
        color: $white-color;
        transform: translateY(-1.5px);
    }

    &:active {
        box-shadow: none;
        transform: translateY(1.5px);
    }
}
