.section-intro {
    margin-top: 1rem;
    background-image: radial-gradient(rgba(204,204,204,0.8), rgba(0,0,0,0.98)), url('../../public/images/hero-banner-2.jpg');
    background-size: cover;
    background-position: center;
    color: $grey-color;
    text-align: center;
    height: 72rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 91%, 50% 100%, 0 91%);
    clip-path: polygon(0 0, 100% 0, 100% 91%, 50% 100%, 0 91%);

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 91%, 50% 100%, 0 91%);
        clip-path: polygon(0 0, 100% 0, 100% 91%, 50% 100%, 0 91%);
    }

    &__heading {
        font-size: 6.5rem;
        color: $white-color;
        letter-spacing: 0.4rem;
        padding-top: 8rem;
        padding-bottom: 1rem;
        border-bottom: 3px solid $purple-color;
        display: inline-block;
    }

    &__text {
        font-size: 3.8rem;
        color: $white-color;
        padding-top: 6rem;
        margin: 0 15rem;
    }
}

.section-about {
    margin-top: -20rem;
    background-color: $background-main;

    &__heading {
        margin-top: 14rem;
        font-size: 4rem;
        color: $white-color;
        letter-spacing: 0.4rem;
        padding-top: 8rem;
        padding-bottom: 1rem;
        border-bottom: 3px solid $purple-color;
        display: inline-block;

        &-div {
            text-align: center;
        }
    }

    &__image {
        display: block;
        border-radius: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        transform: scale(0.45);
        margin-top: -10rem;
        margin-bottom: -12rem;
    }

    &__text-group {
        padding-bottom: 8rem;
    }

    &__text {
        font-size: 2.2rem;
        margin: 0 13rem;
        color: $white-color;
        line-height: 4rem;
        font-weight: 300;
        margin-bottom: 2rem;
    }
}

.section-skills {
    background-color: #5b5656;
    height: 140rem;

    &__heading {
        margin-top: 1rem;
        font-size: 4rem;
        color: $white-color;
        letter-spacing: 0.4rem;
        padding-top: 8rem;
        padding-bottom: 1rem;
        border-bottom: 3px solid $purple-color;
        display: inline-block;

        &-div {
            text-align: center;
        }
    }

    &__container {
        display: block;
    }

    &__type {
        text-align: left;
        margin-top: 2rem;
    }

    &__header {
        font-size: 2.7rem;
        margin-bottom: 1.5rem;
        color: $white-color;
        letter-spacing: 0.4rem;
        text-align: center;
    }

    &__icons  {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &__type--frontend {
        float: left;
        margin-left: -150px;
    }

    &__type--backend {
        float: right;
        margin-right: -100px;
    }
}

.section-projects {
    background-color: $background-main;
    height: 140rem;

    &__heading {
        margin-top: 1rem;
        font-size: 4rem;
        color: $white-color;
        letter-spacing: 0.4rem;
        padding-top: 8rem;
        padding-bottom: 1rem;
        border-bottom: 3px solid $purple-color;
        display: inline-block;

        &-div {
            text-align: center;
        }
    }
}