.section-intro {
    margin-top: 1rem;
    background-image: radial-gradient(rgba(204,204,204,0.8), rgba(0,0,0,0.98)), url('../../public/images/hero-banner-2.jpg');
    background-size: cover;
    color: $grey-color;
    text-align: center;
    height: 100rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    }

    &__heading {
        font-size: 5rem;
        color: $white-color;
        letter-spacing: 0.4rem;
        padding-top: 8rem;
        padding-bottom: 1rem;
        border-bottom: 3px solid $purple-color;
        display: inline-block;
    }

    &__text {
        font-size: 2rem;
        color: $white-color;
        padding-top: 6rem;
        margin: 0 4rem;
    }
}

.section-about {
    margin-top: 0;

    &__heading {
        font-size: 5rem;
        color: $purple-color;
        letter-spacing: 0.4rem;
        padding-top: 8rem;
        padding-bottom: 1rem;
        border-bottom: 3px solid $purple-color;
        display: inline-block;
    }

    &__image {
        padding-top: 2rem;
        display: block;
    }
}
